__pycache__/
*.py[cod]
*.egg-info/
.venv/
.cache/
.pytest_cache/
.ruff_cache/
.hf_cache/
.torch_cache/
.triton_cache/
.matplotlib_cache/
wandb/
outputs/
output/
build/
dist/
*.log
/unitree_lerobot/data/
/unitree_lerobot/raw_data/
/unitree_lerobot/unitree_lerobot/lerobot/tests/artifacts/**/*.safetensors
/unitree_lerobot/unitree_lerobot/lerobot/tests/artifacts/cameras/*.png
/unitree_lerobot/unitree_lerobot/lerobot/tests/artifacts/cameras/*.bag
/.agents/
/.codex/
